<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.binarii.sync_todo</string>

    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/python3</string>
        
        <string>/Users/andreadelre/Work/secondbrain/.scripts/sync_planning.py</string>
    </array>

    <key>WatchPaths</key>
    <array>
        <string>/Users/andreadelre/Work/secondbrain/_TODO.md</string>
        <string>/Users/andreadelre/Work/secondbrain/MiniInbox/_TODO.md</string>
    </array>

    <key>ThrottleInterval</key>
    <integer>1</integer>
</dict>
</plist>